/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

#bannerGroup a div {
    color: white; /* 改为白色 */
    font-size: 1.5rem; /* 调整后的字体大小 */
}
.text-3xl {
    font-size: 1.5rem; /* 修改为所需的字体大小 */
}
